@font-face {
    font-family: "font";
    src: url("assets/IBMPlexSans-VariableFont_wdth\,wght.ttf");
}

body{
    font-family: font;
    display: flex;
    justify-content: center;
}

h1 {
    color: red;
}